<footer class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <img src="/assets/imagens/logo.png" alt="Logo" class="footer-logo">
    </div>
    <div class="col-md-3">
      <h5>Redes Sociais</h5>
      <a href="#" class="social-icons"><i class="fab fa-facebook"></i></a>
      <a href="#" class="social-icons"><i class="fab fa-twitter"></i></a>
      <a href="#" class="social-icons"><i class="fab fa-instagram"></i></a>
      <a href="#" class="social-icons"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="col-md-3">
      <h5>Links Úteis</h5>
      <ul>
        <li><a href="#">Página Inicial</a></li>
        <li><a href="#">Sobre Nós</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h5>Direitos Autorais</h5>
      <p>&copy; 2024 Seu Site. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>
