.cover {
  height: 100vh; /* 100% da altura da viewport */
  background-image: url("/assets/imagens/imagem-ponte.png");
  background-size: cover; /* Cobrir toda a área com a imagem */
  background-position: center; /* Centralizar a imagem */
  background-repeat: no-repeat; /* Evitar repetição da imagem */

  // background-image: url('/src/assets/imagens/imagem-ponte.png'); /* Substitua pelo caminho da sua imagem de capa */
  background-size: cover; /* Cobrir toda a área com a imagem */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000; /* Cor do texto */
  text-align: center;
}

.cover-content {
  // max-width: 600px; /* Largura máxima do conteúdo */
}

h1 {
  font-size: 3em; /* Tamanho da fonte do título */
  margin-bottom: 20px;
  color: #fff;
}

p {
  font-size: 1.2em; /* Tamanho da fonte do parágrafo */
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #3498db; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Efeito de transição no hover */
}

.btnContatoVerde {
  border-radius: 10px;
  background: #48b548;

  margin-top: 30px;
}

.btn:hover {
  background-color: #3dd616; /* Cor alterada ao passar o mouse */
}
