.imgGerador {
  border-radius: 30px;
  box-shadow: 0px 0px 15px #0004;
  width: 500px;
}

.imgServicos {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 15px #0004;
  width: 350px;
  height: 250px;
  opacity: 0.5;
  cursor: pointer;
}

.imgServicos:hover {
  opacity: 0.9;
}

.imgBlog {
  border-radius: 30px;
  box-shadow: 0px 0px 15px #0004;
  width: 350px;
  height: 300px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.imgBlog:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.textoSubTitulo {
  display: flex;
  width: 694px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  color: #707070;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.75px;
}

.custom-container {
  padding: 40px;
  max-width: 100%;
}

.custom-container-background {
  background-color: #f5f7f8;
  padding: 40px;
  max-width: 100%;
  display: flex;
  justify-content: center;

  box-shadow: 0px 0px 15px #d0d4ca;
}

.rectangle {
  width: 1000px;
  height: 250px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;

  background: #ffbf0b;
  border-radius: 10px;
}

.btn-custom {
  margin-bottom: 20px;
  color: #fff;
}

.image-container {
  display: flex;
  flex-direction: column;
}

.description-box {
  position: relative;
  display: flex;
  align-items: center; /* Alinha o texto ao topo */
  justify-content: flex-start; /* Mantém o alinhamento horizontal ao centro */
  flex-direction: column;
  padding: 24px; /* Ajusta o padding para garantir que o texto comece no topo */
  background-color: #fcfcfc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 0px 20px rgba(138, 134, 134, 0.49);
  cursor: pointer;
  height: 260px; /* Define uma altura fixa se necessário */
  overflow: hidden; /* Garante que o texto não expanda a altura da div */
}

.description {
  margin: 0;
}

.service-container {
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

.service-container:hover {
  transform: scale(1.05);
}

.image-container .description {
  color: #242424;
  line-height: 1.4;
  font-size: 16px;
  margin: 0;
  text-align: center;
}

.description-h2 {
  font-size: 18px;
  white-space: nowrap;
}

.solution-description {
  font-size: 18px;
  margin-left: 14px;
  margin-right: 12px;
  white-space: nowrap;
}

.round-button {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #007bff; /* Cor de fundo do botão */
  color: white; /* Cor do ícone */
  width: 50px; /* Largura do botão */
  height: 50px; /* Altura do botão */
  border-radius: 50%; /* Para deixar o botão redondo */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none; /* Remove o sublinhado do link */
  opacity: 1; /* Tornar o botão visível */
  transition: opacity 0.3s ease; /* Efeito de transição */
}

.round-button i {
  font-size: 24px; /* Tamanho do ícone */
}

.icon-container {
  overflow: hidden;
  white-space: nowrap;
  animation: scroll 60s linear infinite;
}

.icon-box {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: inline-block;
  text-align: center;
  margin: 0 10px;
}

.icon-container {
  display: flex;
  justify-content: center;
}

.icon-box {
  text-align: center;
  margin: 10px;
  width: 150px; /* Adjust width as needed */
  margin-bottom: 10px;
}

.services-btn {
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffbf0b;
  padding: 0px 15px;
  border-radius: 50%;
  color: #242424;
  text-decoration: none;
  display: flex;
  align-items: center;
}
