<div class="container pt-5 custom-container">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="service-container col-md-6 col-lg-3 mb-4">
          <div class="image-container" style="position: relative;">
            <div class="description-box">
              <h2 class="description-h2">
                <strong>MANUTENÇÃO PREVENTIVA</strong>
              </h2>
              <h2 class="description-h2">
                <strong>DE GERADORES</strong>
              </h2>
              <h3 class="description mt-3">
                Maximize a confiabilidade e
                <strong> minimize os custos</strong> com manutenção regular.
              </h3>
              <h3 class="description mt-3">
                Contrate de forma avulsa ou periódica pré-programada.
              </h3>
            </div>

            <img
              src="/assets/imagens/manutencao-preventiva-gerador-geradores.png"
              alt="Imagem 1"
              class="img-fluid imgServicos"
            />

            <a href="#" class="btn-click-here services-btn">
              <i class="fas fa-external-link-alt fa-1x mt-3 mb-3"></i>
            </a>
          </div>
        </div>


        <div class="service-container col-md-6 col-lg-3 mb-4">
          <div class="image-container" style="position: relative;">
            <div class="description-box">
              <h2 class="description-h2">
                <strong>SOLUÇÕES EM MANUTENÇÃO</strong>
              </h2>
              <h2 class="solution-description">
                <strong>DE GERADORES</strong>
              </h2>
              <h3 class="description mt-3">
                Saiba todas as soluções que oferecemos para geradores.
              </h3>
              <h3 class="description mt-3">
                <strong>Manutenção completa</strong> e eficiente para as suas
                necessidades.
              </h3>
            </div>
            <img
              src="/assets/imagens/manutencao-preventiva-geradores.png"
              alt="Imagem 2"
              class="img-fluid imgServicos"
            />
            <a href="#" class="btn-click-here services-btn">
              <i class="fas fa-external-link-alt fa-1x mt-3 mb-3"></i>
            </a>
          </div>
        </div>

        <div class="service-container col-md-6 col-lg-3 mb-4">
          <div class="image-container" style="position: relative;">
            <div class="description-box">
              <h2 class="description-h2">
                <strong>VENDA DE GERADORES</strong>
              </h2>
              <h3 class="description mt-4">
                Grupos geradores a diesel ou gasolina de 800W até 1.250kVA.
              </h3>
              <h3 class="description mt-3">
                Conheça todo o nosso portfólio agora mesmo.
              </h3>
            </div>
            <img
              src="/assets/imagens/venda-de-geradores-diesel.png"
              alt="Imagem 3"
              class="img-fluid imgServicos"
            />
            <a href="#" class="btn-click-here services-btn">
              <i class="fas fa-external-link-alt fa-1x mt-3 mb-3"></i>
            </a>
          </div>
        </div>

        <div
          class="service-container col-md-6 col-lg-3 mb-4"
          (click)="navigateToLocacaoGeradores()"
        >
        <div class="image-container" style="position: relative;">
          <div class="description-box">
              <h2 class="description-h2">
                <strong>LOCAÇÃO DE GERADORES</strong>
              </h2>
              <h3 class="description mt-4">
                Locação de geradores para eventos, para construtoras, indústrias
                e comércio em geral.
              </h3>
              <h3 class="description mt-3">Conheça os modelos disponíveis.</h3>
            </div>
            <img
              src="/assets/imagens/locacao-de-geradores.png"
              alt="Imagem 4"
              class="img-fluid imgServicos"
            />
            <a href="#" class="btn-click-here services-btn">
              <i class="fas fa-external-link-alt fa-1x mt-3 mb-3"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5 ">
      <h4 class="mt-2 mb-3 text-center">Áreas de atuação</h4>
      <div class="icon-container">
        <div class="icon-box">
          <i class="fas fa-building fa-2x mt-4"></i>
          <p>Condomínios</p>
        </div>

        <div class="icon-box">
          <i class="fas fa-store fa-2x mt-4"></i>
          <p>Varejo e Comércio</p>
        </div>

        <div class="icon-box">
          <i class="fas fa-industry fa-2x mt-4"></i>
          <p>Indústria</p>
        </div>

        <div class="icon-box">
          <i class="fas fa-hard-hat fa-2x mt-4"></i>
          <p>Construção Civil</p>
        </div>

        <div class="icon-box">
          <i class="fas fa-hotel fa-2x mt-4"></i>
          <p>Hotelaria</p>
        </div>

        <div class="icon-box">
          <i class="fas fa-plane-departure fa-2x mt-4"></i>
          <p>Aeroportos</p>
        </div>

        <div class="icon-box">
          <i class="fas fa-ship fa-2x mt-4"></i>
          <p>Portos e Barcos</p>
        </div>

        <div class="icon-box">
          <i class="fas fa-tractor fa-2x mt-4"></i>
          <p>Agronegócio</p>
        </div>
      </div>

      <div class="icon-container">
        <div class="icon-box">
          <i class="fas fa-utensils fa-2x mt-4"></i>
          <p>Alimentação</p>
        </div>

        <div class="icon-box">
          <i class="fas fa-database fa-2x mt-4"></i>
          <p>Data Centers</p>
        </div>

        <div class="icon-box">
          <i class="fas fa-gifts fa-2x mt-4"></i>
          <p>Shopping</p>
        </div>

        <div class="icon-box">
          <i class="fas fa-broadcast-tower fa-2x mt-4"></i>
          <p>Comunicações</p>
        </div>

        <div class="icon-box">
          <svg class="mt-2" xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#000000"><path d="M160-120q-12 0-21-9t-9-21.5q0-12.5 9-21t21-8.5h40v-270h-50q-12 0-21-9t-9-21.5q0-12.5 9-21t21-8.5h50v-270h-40q-12 0-21-9t-9-21.5q0-12.5 9-21t21-8.5h640q12.75 0 21.38 8.62Q830-822.75 830-810q0 12-8.62 21-8.63 9-21.38 9h-40v270h50q12.75 0 21.38 8.62Q840-492.75 840-480q0 12-8.62 21-8.63 9-21.38 9h-50v270h40q12.75 0 21.38 8.62Q830-162.75 830-150q0 12-8.62 21-8.63 9-21.38 9H160Zm100-60h440v-270q-12 0-21-9t-9-21.5q0-12.5 9-21t21-8.5v-270H260v270q12.75 0 21.38 8.62Q290-492.75 290-480q0 12-8.62 21-8.63 9-21.38 9v270Zm220.12-153Q526-333 558-364.64q32-31.65 32-76.59Q590-477 569.5-502T480-607q-69 79-89.5 104.5T370-441.23q0 44.94 32.12 76.59 32.12 31.64 78 31.64ZM260-180v-600 600Z"/></svg>          <p>Extração</p>
        </div>

        <div class="icon-box">
          <i class="fas fa-hand-holding-usd fa-2x mt-4"></i>          <p>Inst. Financeiras</p>
        </div>

        <div class="icon-box">
          <i class="fas fa-gas-pump fa-2x mt-4"></i>
          <p>Postos de Gasolina</p>
        </div>

        <div class="icon-box">
          <i class="fas fa-hospital fa-2x mt-4"></i>
          <p>Clínicas e Hospitais</p>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <img
          src="/assets/imagens/gerador.png"
          alt="Image"
          class="imgGerador img-fluid"
        />
      </div>
      <div class="col-md-6">
        <p class="textoSubTitulo">
          CONHEÇA A SMARTECH GERADORES, A SOLUÇÃO EM GRUPOS GERADORES
        </p>
        <h2>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique.
        </h2>
        <p class="textoSubTitulo mt-5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Suspendisse varius enim in eros elementum
          tristique.
        </p>
        <form class="d-flex mt-5">
          <button class="btnContato btn btn-outline-success" type="submit">
            Saiba mais
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="container pt-5 custom-container-background">
    <div class="row">
      <div class="col-md-7">
        <p class="textoSubTitulo">
          CONHEÇA A SMARTECH GERADORES, A SOLUÇÃO EM GRUPOS GERADORES
        </p>
        <h2>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique.
        </h2>
        <p class="textoSubTitulo mt-5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Suspendisse varius enim in eros elementum
          tristique.
        </p>
        <form class="d-flex mt-5">
          <button class="btnContato btn btn-outline-success" type="submit">
            Saiba mais
          </button>
        </form>
      </div>
      <div class="col-md-5">
        <img
          class="imgGerador img-fluid"
          src="/assets/imagens/gerador.png"
          alt="Image"
        />
      </div>
    </div>
  </div>

  <div class="container mt-5 main-container custom-container-background">
    <div class="rectangle">
      <div class="text-overlay p-3 col-8">
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique.
        </p>
        <button class="btnContatoVerde btn btn-custom">
          Fale com um especialista
        </button>
      </div>
      <img
        src="/assets/imagens/instalacao.png"
        alt="Imagem do Executivo"
        class="imgServicos"
      />
    </div>
  </div>
</div>
